{% extends 'base.html' %}

{% block title %}
График
{% endblock %}

{% block body %}
<div align="center"><div style="width: 90%">
<canvas id="myChart"></canvas>
</div>
</div>
    <script>
var ctx = document.getElementById('myChart').getContext('2d');

var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{param}},
        datasets: [{
            label: 'График',
            data: {{param2}},
            borderColor: [
                'rgba(54, 162, 235, 1)'
            ],
            borderWidth: 5
        }]
    },
options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
{% endblock %}